button {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15) !important;
    display: inline-block !important;
    margin-right: 10px !important;
}

/* Button Assignment Styling Starts  */
.socBtn {
    background-color: #2d3e5b !important;
}

.fa-brands {
    font-size: 12px;
}

.socBtnIcon i {
    color: #2d3e5b;
}

.txt {
    color: #2d3e5b !important;
}

.fbkBorder {
    border: 1px solid #2d3e5b !important;
}
/* Button Assignment Styling Ends  */


/* Alert #01 Assignment Styling Start  */
.btn-close {
    display: inline-block;
    margin-top: 20px;
}
/* Alert #01 Assignmrnt Styling Ends  */


/* Alert #03 Assignment Styling Starts  */
.btnInfo svg {
    transform: rotateY(180deg);
}

.smFont {
    font-size: 8px !important;
    padding: 5px 20px !important;
}
/* Alert #03 Assignment Styling Ends  */

/* Color Assignment #01 Styling Start  */
.colorAss {
    margin-top: 50px;
}

.colorAss div {
    margin-top:  -4px !important;
    height: 50px;
}

.colorAss div p {
    visibility: hidden;
}
/* Color Assignment Styling Ends  */